# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = haodf.settings
RETRY_ENABLED = False
REDIRECT_ENABLED = False


[deploy]
#url = http://localhost:6800/
project = haodf
